.mainDiv {
  height: 100%;
  width: 100vw;
  left: 0;
  position: fixed;
  background-color: #b5c1c780;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addDiv {
  height: 70%;
  width: 45%;
  border-radius: 2vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.mailIcon {
  width: 93%;
  height: 4vh;
  border: 1px solid #b5c1c780;
  border-radius: 1vh;
  font-size: 1rem;
  padding: 1%;
  margin-top: -1%;
}

.addDiv form {
  width: 88%;
  height: 50%;
  margin: 5% 0% 0% 6%;
  position: relative;
}

.addDiv form span {
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  margin-bottom: 2%;
}

.addDiv sup {
  color: red;
}

.pLabel {
  font-size: 0.9rem;
  font-weight: 500;
  width: 94%;
  height: 4vh;
  border-radius: 1vh;
}

.prioBtn {
  width: 22.5%;
  height: 3.2vh;
  font-size: x-small;
  background: none;
  border: 1px solid #b5c1c780;
  border-radius: 1vh;
  margin: 4% 0% 4% 2%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.prioBtn1 {
  width: 22.5%;
  height: 4vh;
  font-size: small;
  background: none;
  border: 1px solid #b5c1c780;
  border-radius: 1vh;
  margin: 2% 0% 4% 2%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.prioBtn img {
  margin-right: 5%;
}

.addBtn {
  border: none;
  background: none;
  font-size: 0.9rem;
  color: #747d81;
  cursor: pointer;
}

.addedTasks {
  width: 90%;
  height: 21vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 2vh;
}

.addedTasks label {
  display: block;
}

.taskItem {
  width: 100%;
  border: 1px solid #b5c1c780;
  margin-bottom: 1vh;
  border-radius: 1vh;
}

.checklistTitle {
  height: 5vh;
  width: 85%;
}

.taskTitle {
  width: 90%;
  border: 1px solid #b5c1c780;
  border-radius: 1vh;
  height: 4vh;
  margin-bottom: 1vh;
}

.checklistTitle {
  border: none;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.bottomBtn {
  width: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datePickerWrapper {
  position: absolute;
  top: 11vh;
  right: 13vw;
}

.dateInput {
  border: 1px solid #b5c1c780;
  border-radius: 1vh;
  font-size: 0.9rem;
  width: 20%;
  text-align: center;
  cursor: pointer;
  color: #0d0d0ebe;
  height: 4.1vh;
}
