body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "poppins";
  overflow-y: hidden;
}

.headings {
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: center;
  padding-top: 7%;
  color: black;
  font-size: 1.1rem;
  position: absolute;
  top: -13vh;
  left: -5vh;
}

.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.mainContainer {
  height: 65vh;
  width: 40vw;
  border: 1px solid #E2E2E2;
  border-radius: 1vh;
  padding: 1%;
}

.topSection {
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: 0.6rem;
  margin: 4% 0% 0% 5%;
}

.title {
  font-size: large;
  font-weight: 500;
  margin: 2% 0% -3% 5%;
}

.checklist {
  width: 90%;
  height: 60%;
  margin: 0% 0% 0% 4%;
  font-size: small;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.checklist label {
  border: 1.5px solid #dbe2e7;
  width: 98%;
  border-radius: 1.5vh;
  margin-top: 2%;
  display: flex;
  padding: 2%;
  color: black;
  font-weight: 500;
}

.bottomSection {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  border: none;
  margin: 5% 0% 7% 5%;
}

.Btn {
  font-size: 0.5rem;
  border: none;
  border-radius: 1.5vh;
  width: 32%;
  height: 4.5vh;
  margin-left: 5%;
}

.dueLbl {
  font-weight: 500;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  .mainDiv {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px;
    margin-top: 10vh;
  }

  .headings {
    width: 60%;
    justify-content: center;
    padding-top: 7%;
    top: -10vh;
    left: -5vh;
  }

  .mainContainer {
    width: 90vw;
    height: 100vh;
    height: auto;
    overflow: hidden;
  }

  .topSection {
    margin: 10px 0 0 0;
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
    margin: 10px 0 -5px 0;
  }

  .checklist {
    height: auto;
    margin: 0 0 0 0;
    font-size: 1rem;
    overflow-y: auto; /* Only checklist items can overflow */
    overflow-x: hidden;
  }

  .checklist label {
    margin-top: 5px;
    font-size: 1rem;
  }

  .bottomSection {
    margin: 10px 0 10px 0;
  }

  .Btn {
    font-size: 0.8rem;
    width: 40%;
    height: 40px;
    margin-left: 5%;
  }

  .dueLbl {
    font-size: 1rem;
  }
}
