.sideBar {
  height: 99.5vh;
  width: 17vw;
  position: relative;
  border-right: 1px solid rgb(235, 229, 229);
  color: #707070;
}

.headings {
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 7%;
  color: black;
  font-size: 1.1rem;
}

.logOut {
  position: absolute;
  bottom: 6%;
  left: 22%;
  color: #cf3636;
  border: none;
  background: none;
  font-size: larger;
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu {
  width: 17vw;
  display: flex;
  justify-content: center;
}

.menuList {
  list-style-type: none;
  width: 17vw;
}

.menuList li {
  padding: 5% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17vw;
  margin-left: -9%;
}

.menuList li:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.active {
  color: black;
  background-color: aliceblue;
}
